* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #121516;
  /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    height: 100vh;  */
}

.card {
  width: 90%;
  margin: 100px auto 0px;
  text-align: center;
  max-width: 470px;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  color: #fff;
  padding: 40px 25px;
  border-radius: 20px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#search-input{
  padding: 6px 24px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  /* padding: ; */
  height: 60px;
  flex: 1;
  border-radius: 50px;
  margin-right: 5px;
  font-size: 18px;
  width: 100%;
}

.search i {
  border: 0;
  outline: 0;
  background: #ebfffc;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50px;
  padding: 25px 0px;
  cursor: pointer;
}

/* .weather{
    border: 1px solid black;
} */

.weather-img img {
  height: 100px;
  width: 100px;
  margin: 30px auto;
}

.weather h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 10px auto;
}

.weather h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 10px auto;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.details img {
  height: 80px;
  width: 80px;
  margin: 20px 0px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .details {
    flex-direction: row;
  }
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 5px 10px;
    height: 60px;
    flex: 1;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .search i {
    border: 0;
    outline: 0;
    background: #ebfffc;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50px;
    padding: 25px 0px;
    cursor: pointer;
  }
  
}
